body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  
  header {
    background-color: #c81b1b;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  footer{
    position: absolute;
    bottom: 0;
    width : 100%;
  }
  
  #statsSection {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 20px auto;
    flex-wrap: wrap;
  }
  
  .statCard {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px);
  }
  
  h2 {
    color: #d32f2f;
  }
  
  p {
    font-size: 24px;
    color: #d32f2f;
    margin: 8px 0;
  }
  