body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #ca1717;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  section {
    max-width: 600px;
    margin: 20px auto;
    padding: 65px 65px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
  }

  h2 {
    color: #333;
    font-size: 25px;
    font-weight: bold;
}

  label {
    display: block;
    margin-bottom: 25px;
  }

  input, select {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  button {
    background-color: #e41010;
    color: #fdfdfd;
    padding: 9px 8px;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: right;

  }
  .button1{
    background-color: #e41010;
    color: #fdfdfd;
    padding: 10px 10px;
    border: none;
    border-radius: 44px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
  }

  button:hover {
    background-color: #45a049;
  }